body {
    font-family: 'Segoe UI', sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#bubble {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(127, 255, 212, 0.8);
    cursor: pointer;
}

.logo {
    width: 70%;
    height: 70%;
    opacity: 100%;

}

.logo img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    opacity: 80%;
}

.navigation-menu {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: clamp(0.5rem, 1.5vw, 2rem);

    position: fixed;
    right: clamp(0.5rem, 5vmin, 2rem);
    bottom: clamp(0.5rem, 4vmin, 2rem);
    z-index: 100;
}

.navigation-menu button {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

.navigation-menu button i {
    font-size: clamp(1.8rem, 7vmin, 3.6rem);
    color: white;
}